page-gestante {
  //   .box {
  //     width: 75%;
  //     background-color: rgb(250, 250, 250);
  //   }
  h6 {
    font-size: 14px;
    color: #1bc1a3;
  }
  .title {
    margin-top: 40px !important;
    margin-left: 20px;
    color: #1bc1a3;
    font-size: 16px;
  }
  .infor {
    color: #ccc;
    font-size: 14px;
  }
}
